.skills_container
    width: 100vw !important
    height: auto
    background-color: white
    position: absolute
    left: 0


.skills_headLine
    text-align: center


.skills_header
    background-color: #aaffaa
    height: 300px
    width: 100%

