//---------------------
.app_container
    //width: 100vw !important
    //height: auto
    //background-color: white
    //position: absolute
    //left: 0

//---------------------
.app_header
    height: 300px
    background-color: rgb(87,172,165)
    text-align: center
    border-radius: 5px
    .headerStyle
        color: white
        padding-top: 20px
        font-size: 48px
        text-shadow: 0 0.032em 0 #b0b0b0, 0 0.15em 0.11em rgba(0,0,0,.15), 0 0.25em 0.021em rgba(0,0,0,.1), 0 0.32em 0.32em rgba(0,0,0,.1)
        font-family: "Amethysta","Alice","Amiri","Arapey"
        font-style: italic
        font-weight: normal
//---------------------


//整个body 的container
.row_container
    display: flex
    border-radius: .2em
    padding: .2em
    min-height: 38.8px

//每个行的容器
.row
    margin: 48px 10%

//文字的容器
.text_container--left
    float: left
    width: 58%
//图片的容器
.text_container--right
    float: right
    width: 58%

.image_container--left
    float: right
    width: 42%

.image_container--right
    float: right
    width: 42%

//    特性文字
.feature_heading
    font-weight: 300
    line-height: 1
    letter-spacing: -.05rem
    margin-bottom: 1rem
    font-size: 4rem
    margin-top: 3.5rem
    color: rgb(89,89,89)
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif



//    特性描述
.feature_text
    font-weight: 300
    font-size: 2rem
    color: rgb(109,118,125)
    letter-spacing: normal
    font-family: Baskerville, "Times New Roman", "Liberation Serif", STFangsong, FangSong, FangSong_GB2312, CWTEX-F, serif


//---------------------
